<div class="panel panel-default">
    <div class="panel-body">
        <div class="row text-center">
            <div class="col-md-12 text-center">
                <h2 class="section-heading">¡Conocenos!</h2>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="100%" height="100%"
                            src="https://www.youtube.com/embed/X-JPG0fZExM?autoplay=0&showinfo=0&controls=0&rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <br>
                <label for="answer" class="text-muted" id="question">
                    <div align="left">
                        ¿Usted no se desplaza por la ciudad en bicicleta por qué?<br>
                        <span style="font-size: 3mm">seleccione una o varias.</span><br>
                        1. Inseguridad<br>
                        2. Vias no adecuadas<br>
                        3. Por pereza<br>
                        4. No le interesa el medio ambiente<br>
                        5. tengo carro<br>
                        6. Tiempo
                    </div>

                </label>
                <input type="text" class="form-control" placeholder="Ingresa tu respuesta" ng-model="answer" id="answer"><br>
                <button ng-click="saveAnswer('video1');" type="button" class="btn btn-success">Siguiente</button>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>