<div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">¿Cual es el problema?</h2>
        <h3 class="section-subheading text-muted">Falta de uso de la bicleta</h3>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XyKc9THcnaE" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <label id="question">¿Pregunta problema?</label>
        <input type="text" class="form-control" placeholder="Ingresa tu respuesta" required ng-model="answer"><br>
        <button ng-click="saveAnswer('safeRoutes');"  type="button" class="btn btn-success">Siguiente</button>
    </div>
</div>